<!DOCTYPE html>
<html class="no-js" lang="en">

<body>
    {{#if user}}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">MUSIC VIDEOS.</h1>
            <p class="lead">Sync an audio file with a video one. Add files to create. View "created" videos below. </p>
        </div>

        {{#each files}}
        {{#each this}}
        <div class="row">
            <div class="col">
                <div class="card mb-5">
                    <div class="card-body text-center">
                        {{#if this.video}}
                        <video id="myvideo" width="640" height="480" controls muted>
                            <source src="/files/{{this.filename}}" type={{this.contentType}}>
                        </video>
                        {{else}}
                        <style>
                            .hidden{
                                display:none;
                            }
                        </style>
                        <audio id="myaudio" controls>
                            <source src="/files/{{this.filename}}" type={{this.contentType}} />
                        </audio>
                        <script>
                            let element = document.getElementById("myaudio");
                            element.classList.add("hidden");
                        </script>
                        {{/if}}
                        <script>
                            var myvideo = document.getElementById("myvideo");
                            var myaudio = document.getElementById("myaudio");
                            myvideo.onplay = function () { myaudio.play(); }
                            myvideo.onpause = function () { myaudio.pause(); }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/each}}
    </div>
    {{else}}
    <div class="row mt-sm-4 mt-md-0 pl-5">
        <div class="col-sm-12 col-md-8">
            <h3>Login:</h3>
        </div>
    </div>
    <form method="POST" action="/login">
        <div class="form-group pl-5">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group pl-5">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary ml-5 mb-5">Submit</button>
    </form>

    <div class="row mt-sm-4 mt-md-0 pl-5">
        <div class="col-sm-12 col-md-8">
            <h3>Registration:</h3>
        </div>
    </div>
    <form method="POST" action="/register">
        <div class="form-group pl-5">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group pl-5">
            <label for="email">E-mail address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group pl-5">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary ml-5 mb-5">Submit</button>
    </form>
    {{/if}}
</body>

</html>